<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
<!--   <servlet> -->
<!--   	<servlet-name>buy</servlet-name> -->
<!--   	<display-name>buy</display-name> -->
<!--   	<description></description> -->
<!--   	<servlet-class>scaccabarozzi.buy</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--   	<servlet-name>buy</servlet-name> -->
<!--   	<url-pattern>/buy</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--   	<servlet-name>register</servlet-name> -->
<!--   	<display-name>register</display-name> -->
<!--   	<description></description> -->
<!--   	<servlet-class>scaccabarozzi.register</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--   	<servlet-name>register</servlet-name> -->
<!--   	<url-pattern>/register</url-pattern> -->
<!--   </servlet-mapping> -->
  
<!--   <servlet> -->
<!--   	<servlet-name>Login</servlet-name> -->
<!--   	<display-name>Login</display-name> -->
<!--   	<description></description> -->
<!--   	<servlet-class>Login</servlet-class> -->
<!--   </servlet> -->
  
<!--   <servlet> -->
<!--   	<servlet-name>addMatch</servlet-name> -->
<!--   	<display-name>addMatch</display-name> -->
<!--   	<description></description> -->
<!--   	<jsp-file>/addMatch</jsp-file> -->
<!--   </servlet> -->
  
<!--   <servlet-mapping> -->
<!--   	<servlet-name>Login</servlet-name> -->
<!--   	<url-pattern>/login</url-pattern> -->
<!--   </servlet-mapping> -->
  
<!--   <servlet-mapping> -->
<!--   	<servlet-name>addMatch</servlet-name> -->
<!--   	<url-pattern>/AddMatch</url-pattern> -->
<!--   </servlet-mapping> -->
  
</web-app>
